.login_label {
    font-size: 3em;
    margin: 0 auto;
    align-items: center;
    display: flex;
    text-align: center;
}

.login_form1 {
    display: flex;
    align-items: center;
}

.login_button {
    margin: 15px;
}