.header {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1600px;
}

.login_form {
    display: flex;
    align-items: center;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1300px;
}

.center {
    display: flex;
    justify-content: center;
}

table {
    font-size: 2em;
    border-spacing: 64px 64px;
    text-align: center;

}

tr {
    outline: thin solid;
}

.login {
    font-size: 6em;
}

.text_block {
    background-color: #343a40;
    color: white;
}

.edit_button {
    position: absolute;
    bottom: 0;
}
